apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-stable
spec:
  replicas: 3
  selector:
    matchLabels:
      app: webapp
      track: stable
  template:
    metadata:
      labels:
        app: webapp
        track: stable
    spec:
      containers:
      - name: webapp
        image: webapp-devops:v1
        env:
        - name: APP_VERSION
          value: "v1"
        ports:
        - containerPort: 5000
