- hosts: k8s
  become: yes
  tasks:
    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Install Ansible dependencies
      apt:
        name: python3-pip
        state: present
